//Colours
$color-black: #000;
$color-white: #fff;

$color-primary: #F2C811;
$color-primary-light: #f4cf31;
$color-primary-dark: #f4a537;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-dark: #4A4A4A;
$color-grey-light: #767676;




$gutter-horizontal: 6rem;
