.button-secondary {
    color: $color-black;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid $color-primary;
    background-color: $color-primary;
    font-size: 1.3rem;
    font-weight: 100;
    transition: background-color .2s, border .2s;
    cursor: pointer;
    margin-right: 2rem;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: backwards;

    &:hover {
        background-color: #f6d751;
        border: 1px solid #f6d751;
    }
}