.footer {
    padding-top: 6rem;
    padding-bottom: 6rem;
    font-size: 1rem;
    line-height: 1.4rem;
    background-color: #161616;
    color: $color-white;

    &__img {
        display: block;
        width: 8rem;
        margin: 0 auto;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        transition: color .2s, transform .2s;
        cursor: pointer;
        
        &:not(:last-child) {
            padding-right: 2.5rem;
        }

        &:hover {
            transform: scale(1.2) rotate(-6deg);
            color: $color-primary;
        }
    }

    &__paragraph {
        width: 80%;
        float: right;
    }
}