.section-about {
    position: relative;
    height: 52rem;
    overflow: hidden;

    .img-box {
        position: absolute;
        top: 8rem;
        right: -28rem;
    }

    .text-box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.section-report {
    height: 52rem;
    position: relative;
    padding-top: 7rem;
}